@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #e9ebec;
  --color-dark: #0c151d;
  --color-dark-2: #19191b;
  --color-light-yellow: #f7d039;
  --color-dark-yellow: #ffe071;
  --color-grey: #3d3d3d;
  --color-grey-2: #c3c7cb;
  --color-grey-3: #d7d7d7;
  --color-white: #f1f2f4;
  --color-light-grey: #575757;
  --color-dark-grey: #a3abb2;
  --color-dark-grey-2: #171f26;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
